.booking-info h3 {
    font-size: 2.1em;
    color: #1e9c95;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}
.booking-info h3 span {
    color: #2ad2c9;
}
.booking-info h3 a {
    color: #020202;
    text-decoration: none;
}
.booking-info h3 a:hover {
    text-decoration: none;
}
.login-form {
    padding: 2em 2em;
    background: #f4f4f4;
    margin-top: 1em;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}
.login-form input[type='text'],
.contact-form input[type='text'],
.login-form input[type='password'],
.contact-form input[type='password'],
.login-form input[type='email'],
.contact-form input[type='email'],
.contact-form textarea {
    font-size: 1em;
    color: #555;
    padding: 0.5em 1em;
    border: 0;
    width: 100%;
    border: 1px solid #999;
    background: none;
    -webkit-appearance: none;
    outline: none;
}
.contact-form textarea {
    resize: none;
    min-height: 180px;
}
.login-form p,
.contact-form p {
    font-size: 1em;
    margin: 1em 0 1em 0;
    text-align: left;
    color: #020202;
    font-weight: 600;
    text-transform: uppercase;
}
.login-form p a {
    color: #2ad2c9;
    margin-left: 5px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all;
    text-decoration: none;
}
.login-form p a:hover {
    color: #555;
}
.map iframe {
    width: 100%;
    height: 400px;
    border: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-content {
    width: 95%;
    cursor: auto;
}

.mfp-container {
    text-align: center;
    position: fixed;
    width: 100%;
    height: inherit;
    left: 0;
    top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    background-size: cover;
    padding: 0 !important;
    overflow-y: scroll;
}
.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}
.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
}
