:root {
    --light: #f8f8f8;
    --dark: #313131;
    --grey: #888;
    --primary: #ffce00;
    --secondary: #fe4880;
    --alert: #ff1e2d;
    --dark-grey: #808080;
    --pink: #f93b69;
    --light-grey: #d9d9d9;
}
select,
input,
button {
    border: none;
    outline: none;
    background: none;
}

.total-expense {
    color: var(--grey);
    font-size: 28px;
    font-weight: 900;
    background-color: #dfdfdf;
    padding: 5px 25px;
    border-radius: 8px;
}

.expense-form {
    display: block;
    margin: 15px;
    position: relative;
}

.expense-form:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    background-image: linear-gradient(
        to right,
        var(--primary),
        var(--secondary)
    );
    border-radius: 10px;
    transition: 0.2s;
}

.expense-form:focus-within:after {
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
}
.form-inner {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s;
    border-radius: 8px;
}
.form-inner input,
.form-inner select {
    font-size: 18px;
    padding: 10px 15px;
    background-color: #fff;
    color: var(--grey);
}

.form-inner input[type='text'] {
    border-radius: 8px 0px 0px 8px;
    flex: 1 1 100%;
}
.form-inner input[type='date'] {
    border-radius: 0px;
    min-width: 200px;
}
.form-inner input[type='submit'] {
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;

    background-image: linear-gradient(
        to right,
        var(--primary) 50%,
        var(--primary) 50%,
        var(--secondary)
    );
    background-size: 200%;
    background-position: 0%;

    color: var(--dark);
    font-weight: 600;
    text-transform: uppercase;

    transition: 0.4s;
}

.form-inner input[type='submit']:hover {
    background-position: 100%;
    color: #fff;
}

.expense-list {
    padding: 15px;
}

.expense-list .expense-item {
    position: relative;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    display: flex;
    transition: 0.4s;
    padding-left: 75px;
}

.expense-list .expense-item .remove-item {
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;

    cursor: pointer;
    display: block;
    color: var(--light);
    font-weight: 600;
    background-color: var(--alert);
    border-radius: 8px 0px 0px 8px;
    transition: 0.2s;
}

.expense-list .expense-item:hover .remove-item {
    width: 50px;
}

.expense-list .expense-item .desc {
    flex: 1 1 100%;
}

.expense-list .expense-item .price,
.expense-list .expense-item .date {
    min-width: 125px;
}
.expense-list .expense-item:hover {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}

/* Timeline styles: */

.timeline ul {
    padding: 1em 0 0 2em;
    margin: 0;
    list-style: none;
    position: relative;
}

.timeline ul::before {
    content: ' ';
    height: 100%;
    width: 1px;
    background-color: var(--light-grey);
    position: absolute;
    top: 0;
    left: 2.5em;
    z-index: -1;
}

li div {
    display: inline-block;
    /* margin: 1em 0; */
    vertical-align: top;
}

.bullet {
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    border-radius: 50%;
    background: white;
    z-index: 1;
    margin-right: 1em;
}

.bullet.pink {
    border: 2px solid var(--pink);
}

.time {
    width: 20%;
    font-size: 0.75em;
    padding: 0.25em;
    border: 1px solid deeppink;
    border-radius: 50px;
    text-align: center;
    background-color: pink;
}

.desc {
    width: 50%;
    margin-left: 25px;
    border: 1px solid deeppink;
    border-radius: 9px;
    /* vertical-align: text-top; */
    text-align: center;
    padding: 5px;
    background-color: pink;
}

.btn-desc {
    font-size: 1em;
    font-weight: 600;
    margin: 0;
}

.btn-price {
    margin: 0;
    font-size: 0.9em;
    font-weight: 600;
    color: deeppink;
}

@media (min-width: 320px) {
    .form-inner input[type='text'],
    .form-inner input[type='number'] {
        min-width: 50px;
    }
    .form-inner input[type='text'] {
        flex: 1 1 85%;
    }
    .form-inner input[type='date'] {
        min-width: 100%;
    }
}
@media (min-width: 480px) {
    .form-inner input[type='text'],
    .form-inner input[type='number'],
    .form-inner input[type='date'] {
        min-width: 50px;
    }
    .form-inner input[type='text'] {
        flex: 1 1 85%;
    }
}
