.card {
    background: #f1f1f2;
    display: flex;
}

.card-img {
    border: 1px solid green;
    min-width: 130px;
}

.card-img img {
    display: block;
    height: 100%;
    width: auto;
}

.card-body {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid blue;
}

.search {
    width: 100%;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #00b4cc;
    border-right: none;
    padding: 5px;
    height: 36px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
}

.searchTerm:focus {
    color: #00b4cc;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00b4cc;
    background: #00b4cc;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    padding-left: 5px !important;
}
